body{
    background-image: url("https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: repeat;
    background-size: cover;
    
}